<div class="panel-body">
  <div>
  <p class="pt-lg text-left">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= content_tag :span, t('sign_out') %>
    <% end %>
  </p>
  </div>
</div>
