<!-- <h1><%= t('hello') %></h1>
<% if user_signed_in? %>
  <div> não é sindicalizado? <%= current_user.sindicalizado.nil? %></div>
  <div><%= link_to 'Dados pessoais', perfil_dados_pessoais_path %></div>
  <div>Signed in as... <%= current_user.email %></div>
<% end %>
 -->
<div class="panel panel-default">
   <div class="panel-body">
      <form id="example-form" action="#">
         <div>
            <h4>Cadastro
            </h4>
            <fieldset>
               <label for="nome">Nome *</label>
               <input id="nome" name="nome" type="text" class="form-control required">
               <label for="date">Data nascimento *</label>
               <div class='input-group date' id='datetimepicker'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                     <span class="fa fa-calendar"></span>
                  </span>
               </div>
               <label for="rg">RG *</label>
               <input id="rg" name="rg" type="text" class="form-control required">
               <label for="cpf">CPF *</label>
               <input id="cpf" name="cpf" type="text" class="form-control required">
               <label for="genero">Genero *</label>
               <select name="genero" class="form-control m-b">
                     <option>Feminino</option>
                     <option>Masculino</option>
               </select>
               <label for="estado_civil">Estado Civil *</label>
               <select name="estado_civil" class="form-control m-b">
                     <option>Solteiro(a)</option>
                     <option>Casado(a)</option>
                     <option>Divorciado(a)</option>
                     <option>Vivuvo(a)</option>
               </select>
               <label for="cor_da_pele">Cor *</label>
               <select name="cor_da_pele" class="form-control m-b">
                     <option>Amarelo(a)</option>
                     <option>Branco(a)</option>
                     <option>Negro(a)</option>
                     <option>Pardo(a)</option>
               </select>
               <p>(*) Obrigatório</p>
            </fieldset>
            <h4>Contato
            </h4>
            <fieldset>
               <p class="lead text-center">Almost there!</p>
            </fieldset>
            <h4>Trabalho
            </h4>
            <fieldset>
               <p class="lead">One last check</p>
               <div class="checkbox c-checkbox">
                  <label>
                     <input type="checkbox" required="required" name="terms">
                     <span class="fa fa-check"></span>I agree with the Terms and Conditions.</label>
               </div>
            </fieldset>
         </div>
      </form>
   </div>
</div>
