<div class="panel-body">
   <form id="example-form" role="form" action="#">
      <div>
         <h4>Cadastro</h4>
         <fieldset>
            <div class="form-group has-feedback mb-lg">
              <input id="nome" name="nome" placeholder="Nome completo" type="text" class="form-control required">
              <span class="form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <script type="text/javascript">
                var elem = document.querySelector('.js-switch');
                var init = new Switchery(elem);
                $(".target").hide();
                $('#possui_nome_social').on('change', function(){
                  var checked = $(this).prop('checked');
                    if (checked) { $(".target").show();
                    } else {
                      $(".target").hide();
                    }
                });
              </script>
              <label for="possui_nome_social" class="text-muted" style="float: left;margin-right:100px;">Possui nome social?</label>
              <input id="possui_nome_social" type="checkbox" class="js-switch"/>
            </div>
            <div class="form-group has-feedback mb-lg target">
              <input id="nome_social" name="nome" placeholder="Nome social" type="text" class="form-control ">
              <span class="form-control-feedback text-muted"></span>
            </div>
            <div class="input-group has-feedback mb-lg" id="datetimepicker">
               <input type="text" placeholder="Data nascimento" class="form-control required" data-masked="" data-inputmask="'mask': '99/99/9999'">
                 <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                 </span>
               </input>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="rg" name="rg" placeholder="RG" type="text" class="form-control required" data-masked="" data-inputmask="'mask': '99.999.999-9'">
              <span class="form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="cpf" name="cpf" placeholder="CPF" type="text" class="form-control required" data-masked="" data-inputmask="'mask': '999.999.999-99'">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="form-group has-feedback mb-lg">
            <select name="genero" class="form-control required" style="color:#607d8b">
                  <option>Genero</option>
                  <option>Feminino</option>
                  <option>Masculino</option>
            </select>
            </div>
            <div class="form-group has-feedback mb-lg">
            <select name="estado_civil" class="form-control required" style="color:#607d8b">
                  <option>Estado Civil</option>
                  <option>Solteiro(a)</option>
                  <option>Casado(a)</option>
                  <option>Divorciado(a)</option>
                  <option>Vivuvo(a)</option>
            </select>
            </div>
            <div class="form-group has-feedback mb-lg">
            <select name="cor_etnia" class="form-control required" style="color:#607d8b">
                  <option>Cor/Etnia</option>
                  <option>Amarelo(a)</option>
                  <option>Branco(a)</option>
                  <option>Negro(a)</option>
                  <option>Pardo(a)</option>
            </select>
            </div>
         </fieldset>
         <h4>Contato</h4>
         <fieldset>
            <div class="form-group has-feedback mb-lg">
              <input id="celular" name="celular" placeholder="Celular" type="text" class="form-control required" data-masked="" data-inputmask="'mask': '(99) 9999-9999'">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="telefone" name="telefone" placeholder="Telefone residencial" type="text" class="form-control" data-masked="" data-inputmask="'mask': '(99) 9999-9999'">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="cep" name="cep" placeholder="CEP" type="text" class="form-control required" data-masked="" data-inputmask="'mask': '99999-999'">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="numero" name="numero" placeholder="Número" type="number" class="form-control">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="endereco" name="endereco" placeholder="Endereço" type="text" class="form-control required">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="complemento" name="complemento" placeholder="Complemento" type="text" class="form-control">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="bairro" name="bairro" placeholder="Bairro" type="text" class="form-control required">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="cidade" name="cidade" placeholder="Cidade" type="text" class="form-control required">
              <span class="form-control-feedback text-muted "></span>
            </div>
         </fieldset>
         <h4>Trabalho</h4>
         <fieldset>
         <div class="form-group has-feedback mb-lg">
            <select name="ocupacao" class="form-control required" style="color:#607d8b">
                  <option>Ocupacao</option>
                  <option>Agente I</option>
                  <option>Agente II</option>
                  <option>Professor</option>
            </select>
            </div>
            <div class="form-group has-feedback mb-lg">
            <select name="cor_etnia" class="form-control required" style="color:#607d8b">
                  <option>Regime</option>
                  <option>CLT</option>
                  <option>Estatutário</option>
                  <option>Municipal</option>
                  <option>PR Educação</option>
                  <option>PSS</option>
            </select>
            </div>
            <div class="form-group has-feedback mb-lg">
              <input id="escola" name="escola" placeholder="Escola" type="text" class="form-control required">
              <span class="form-control-feedback text-muted "></span>
            </div>
            <div class="checkbox c-checkbox">
               <label>
                  <input type="checkbox" required="required" name="terms">
                  <span class="fa fa-check"></span>Aceito os termos e condições.</label>
            </div>
         </fieldset>
      </div>
   </form>
</div>
