<p> <%= t(:hello) + ' ' + @resource.email %>!</p>

<p><%= t(:notify_password_forgot)%></p>

<p><%= link_to t(:change_your_password), edit_password_url(@resource, reset_password_token: @token) %></p>

<%= raw t(:password_forgot_instructions)%>
